@charset "UTF-8";

:root {
    --corprincipal:#5E2C81 ;
    --corbordar:#4FAAA4;
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to left, #5E2C81, #7A2C82, #422C82);
    }
    
    
    main {
        width: 600px;
        height: 370px;
        display: flex;
    }

    .divisao {
        
        display: inline-block;
        
        
    }
    #container-imagem {
        width: 47%;
        
        
    }

    #imagem {
        
        width: 100%;
        height: 100%;
        box-shadow: 4px 3px 6px 2px rgba(0, 0, 0, 0.151);
        border-radius: 10px 0px 0px 10px;
        
    }

    div#tela-login{
        padding: 0px 0px 0px 20px;
        width:240px;
        margin-top: 20px;
    }

    
}

/*Desktop*/

@media screen and (min-width: 992px) and (max-width: 1280px) {
    
    body {
    
       background-image: url(../imagem/fundotela.jpg);
       background-repeat: no-repeat;
       background-size: cover;
    }

    main {
        color: white;
        background-color: transparent;
        backdrop-filter: blur(10px);
        width: 400px;
    }

    main > h1 {
        font-size: 1.6em;
    }

    div#img, img {
        display: none;
    }

    .keys {
        
        background-color: var(--corbordar);
    }
    
    

    .icone {
        font-size: 2em;
    }
    .botao {
        background-color: color(white red green blue) ;
        color: black;
        font-size: 1em;
    }
}